/framework/extensions/*

!/framework/extensions/blog/
!/framework/extensions/update/
/framework/extensions/clone-all.bash
/.travis.yml
/CONTRIBUTING.md
/readme.txt
/tests/*
/framework/LICENSE
/framework/index.html
/tmp/*
/.github/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
