/framework/extensions/*

!/framework/extensions/blog/
!/framework/extensions/update/
/framework/extensions/clone-all.bash
/.travis.yml
/CONTRIBUTING.md
/readme.txt
/README.md
/tests/*
/framework/LICENSE
/framework/index.html
